ion-text {
    color: #555;
    font-size: 0.8em;
    margin-bottom: 15px;
}

ion-img {
    margin-bottom: 15px;
    margin-top: -5px;
}

ion-button {
    --background: #c00;
    margin-bottom: -5px;
}