ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}
#container a {
  text-decoration: none;
}

/* 
* 
* ================= CODE AJOUTÉ CI-DESSOUS =================
* ( voir aussi global.scss, app.component.scss, folder.page.scss, 
* espace-client.page.scss, ajout-age.scss )
*/

#btn-submit {
  width: 100%;
  text-align: center;
}
#checkButton {
  margin-top: 10px;
}
ion-checkbox {
  border: 1px solid black;
  margin-right: 10px;
  float: left;
}
ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}
ion-item,
ion-input {
  --color: black;
  --placeholder-color: black;
  border: 1px solid black;
  margin-top: 10px;
}
ion-label {
  margin-top: 10px;
  color: black;
  --color: black;
}
ion-menu-button {
  border: 1px solid #c00;
  color: #c00;
  border-radius: 10px;
  margin-right: 20px;
}
ion-toolbar.header2 {
  --background: white;
}
ion-toolbar.footer {
  --background: #c00;
  --color: white;
}
#log {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#logo {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}
