/* 
* 
* ================= CODE AJOUTÉ CI-DESSOUS =================
* ( voir aussi global.scss, app.component.scss, folder.page.scss, 
* espace-client.page.scss, ajout-age.scss )
*/

#btn-submit {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
.connexion {
  color: white;
}
ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}
ion-input {
  --color: black;
  --placeholder-color: black;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
ion-item {
  --color: black;
  --placeholder-color: black;
}
ion-label {
  margin-top: 10px;
  color: black;
  --color: black;
}
ion-menu-button {
  border: 1px solid #c00;
  color: #c00;
  border-radius: 10px;
  margin-right: 20px;
}
ion-select {
  color: black;
  border: 1px solid black;
  margin-top: 20px;
}
ion-select {
  color: black;
  border: 1px solid black;
  --placeholder-color: black;
}
ion-toolbar.header1 {
  --background: #c00;
  --color: white;
}
ion-toolbar.header2 {
  --background: white;
}
ion-toolbar.footer {
  --background: #c00;
  --color: white;
}
#loginForm {
  padding-top: 20px;
  padding-bottom: 50px;
}
#logo {
  height: 100px;
  width: 100px;
}
